body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.legend {
    position: absolute;
    left: 460px;
    width: 190px;
    height: 20%;
    top: 0;
    background-color: #fff;
    opacity: 70%;
}

#mon {
  width: 80px;
  height: 15px;
  left: 470px;
  top: 13px;
  background-color: #756060;
}

#tue {
  width: 80px;
  height: 15px;
  left: 470px;
  top: 38px;
  background-color: #fed049;
}

#wed {
  width: 80px;
  height: 15px;
  left: 470px;
  top: 62px;
  background-color: #007580;
}

#thu {
  width: 80px;
  height: 15px;
  left: 470px;
  top: 86px;
  background-color: #282846;
}

#fri {
  width: 80px;
  height: 15px;
  left: 470px;
  top: 111px;
  background-color: #c06014;
}

#sat {
  width: 80px;
  height: 15px;
  left: 470px;
  top: 135px;
  background-color: #536162;
}

#sun {
  width: 80px;
  height: 15px;
  left: 470px;
  top: 159px;
  background-color: #cdc733;
}

label {
    position: absolute;
    left: 560px;
    width: 260px;
    height: 25%;
    top: 10px;
    line-height: 1.5;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}
